<div class="col-md-6 col-md-offset-3">
  	<div class="row">
    	<div class="panel panel-default">
      		<div class="panel-heading">
				<h2>Sign In</h2>
			</div>

			<div class="panel-body">

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="input-field">
					<%= f.label :email %>
					<%= f.email_field :email, id: "icon_prefix" %>
				</div>

				<div class="input-field">
					<%= f.label :password %>
					<%= f.password_field :password, id: "icon_prefix" %>
				</div>

				<% if devise_mapping.rememberable? -%>
					<div class="input-field">
						<%= f.check_box :remember_me %> <%= f.label :remember_me %>
					</div>
				<% end %>

				<div class="input-field">
					<%= f.submit "Log in" %>
				</div>
			<% end %>
			<br>
			<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>